<div id="<%= dom_id tweet %>">
  <p>
    <strong>User:</strong>
    <%= tweet.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tweet.content %>
  </p>

  <p>
    <strong>Hashtags:</strong>
    <%= tweet.hashtags %>
  </p>
  
 <p>
    <strong>Created at:</strong>
    <%= tweet.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= tweet.updated_at %>
  </p>

  <p>
    <strong>Retweet:</strong>
    <%= tweet.retweet_id %>
  </p>

  <p>
    <strong>ID quote:</strong>
    <%= tweet.quote_id %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= tweet.quote %>
  </p>

</div>
